*{
    margin:0px;
    font-family: "inter";
}

#logo{
    margin-left: 75px;
    margin-top: 50px;
}

#titulo-menusuperior{
    margin-left: 150px;
    margin-top: 75px;
}

#texto-menusuperior{
    margin-left: 150px;
    margin-top: 40px;
    padding-bottom: 100px;
}

#menusuperior{
    background-image:url(imagens/fundo-menusuperior.svg) ;
    color: aliceblue;
}

#menuinformacional{
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns:auto;
}

.textoinformativo{
display: flex;
align-items: center;
}

#titulovideo{
    color: #247bab;
    margin-top: 80px;
    
}

#video{
    margin: 50px 25px 50px 150px;
}

#carrossel{
    background-color: #247bab ;
    padding: 50px;
}

#titulo-carrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin-left: 50px;
}

#seta-esquerda{
    display: none;
}

#Bruna{
    display: none;
}

.seta{
    margin-top: 35%;
    cursor:pointer
}
.seta:hover{
    transform:translatey(-7px);
    transition-duration:0,5s;
}

#formulario{
    text-align:center;
}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;

}

input{
    width: 300px;
    height: 40px;
    background-color:#eaece5 ;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left:10px;
}

button{
    background-color:#247bab;
    height: 40px;
    width: 250px;
    color: #eaece5;
    border: 0px;
    border-radius: 5px;
    padding-left:5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #18283575;
    transition-duration: 0,5s;
}
